<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
>
<title>Grupos - Lista</title>

<div layout:fragment="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Grupos</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Início</a></li>
                    <li class="breadcrumb-item">Grupos</li>
                    <li class="breadcrumb-item active">Listar</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
        <div class="alert alert-primary" th:if="${message != null}" th:text="${message}"></div>
        <div class="card">
            <div class="card-body">
                <!-- Table with stripped rows -->

                <div class="alert alert-secondary mt-4" th:if="${grupos.empty}">
                    <p>Nenhum grupo cadastrado!</p>
                    <a href="/grupo/new" class="btn btn-primary mt-1">Cadastrar novo grupo</a>
                </div>
                <table class="table table-striped" th:if="${!grupos.empty}">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tecnologia</th>
                        <th scope="col">Scrum Master</th>
                        <th scope="col">Starters</th>
                        <th scope="col">Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="grupo: ${grupos}">
                        <th scope="row" th:text="${grupo.id}"></th>
                        <td th:text="${grupo.tecnologia.nome}"></td>
                        <td th:text="${grupo.scrumMaster.username}"></td>
                        <td>
                            <a th:href="@{/grupo/starters(id=${grupo.id})}">Listar</a>
                        </td>
                        <td>
                            <a th:href="@{/grupo/edit(id=${grupo.id})}">Editar</a>
                            <a th:href="@{/grupo/delete(id=${grupo.id})}" onclick="return confirm('Você realmente deseja excluir este grupo?')">Excluir</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>

        </div>
    </main>
</div>

</html>
