<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
>
<title>Projeto - Lista</title>

<div layout:fragment="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Projetos</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Início</a></li>
                    <li class="breadcrumb-item">Projetos</li>
                    <li class="breadcrumb-item active">Listar</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
        <div class="alert alert-primary" th:if="${message != null}" th:text="${message}"></div>
        <div class="card">
            <div class="card-body">
                <!-- Table with stripped rows -->

                <div class="alert alert-secondary mt-4" th:if="${projetos.empty}">
                    <p>Nenhum projeto cadastrado!</p>
                    <a href="/projeto/new" class="btn btn-primary mt-1">Cadastrar novo projeto</a>
                </div>
                <table class="table table-striped" th:if="${!projetos.empty}">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Etapa</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Starter</th>
                        <th scope="col">Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="projeto: ${projetos}">
                        <th scope="row" th:text="${projeto.id}"></th>
                        <td th:text="${projeto.etapa}"></td>
                        <td th:text="${projeto.nota}"></td>
                        <td th:text="${projeto.starter.nome}+' - '+${projeto.starter.quatroLetras}"></td>
                        <td>
                            <a th:href="@{/projeto/edit(id=${projeto.id})}">Editar</a>
                            <a th:href="@{/projeto/delete(id=${projeto.id})}" onclick="return confirm('Você realmente deseja excluir este projeto?')">Excluir</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>

        </div>
    </main>
</div>

</html>
